<h1>ToDo:</h1>
<% @tasks.each do |task| %>
  <p>
    <strong><%= link_to task.title, task_path(task) %></strong>
    | <%= link_to "Delete", task,
        method: :delete,
        data: { confirm: "Are you sure You want to delte task '#{task.title}'" }%>
  </p>
<% end %>

<%= render 'tasks/form' %>
<!-- jak wkleje tu form to działa a jak go przerzucę do partiala to nie działa... -->
